.team-match-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.team-banner {
  width: 100%;
}
.latest-matches-heading {
  font-family: 'Bree Serif';
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.un-list-latest-match-details {
  background-color: #0f172a;
  padding: 15px;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
.un-list-recent-match-details {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  padding: 0px;
  list-style-type: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 567px) {
  .un-list-latest-match-details {
    height: 550px;
  }
}
