.latest-match-container {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.sub-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.latest-match-details-1 {
  width: 70%;
}
.latest-match-details-2 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .latest-match-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sub-cont {
    width: 65%;
    padding-left: 32px;
    padding-right: 0px;
  }
  .latest-match-details-1 {
    width: 48%;
    align-self: flex-start;
  }
  .latest-match-details-2 {
    text-align: right;
    width: 33%;
    padding-left: 0px;
    padding-right: 32px;
  }
}
.heading {
  font-family: 'Bree Serif';
  font-size: 30px;
  color: #ffffff;
  padding-top: 30px;
}
.date-text {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
}
.venue-text {
  font-family: 'Bree Serif';
  font-size: 16px;
  color: #ffffff;
}
.result-text {
  font-family: 'Bree Serif';
  font-size: 13px;
  color: #ffffff;
}
.competing-logo {
  height: 250px;
  width: 250px;
}
.innings-text {
  font-family: 'Bree Serif';
  font-size: 16px;
  color: #ffffff;
}
.innings-sub-text {
  font-family: 'Bree Serif';
  font-size: 10px;
  color: #ffffff;
}
.man-of-the-match-text {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
}
.hr-line {
  border: 1px solid #475569;
}
@media screen and (max-width: 567px) {
  .heading {
    font-size: 23px;
  }
  .competing-logo {
    height: 80px;
    width: 80px;
  }
  .date-text {
    font-size: 18px;
  }
  .result-text {
    font-size: 10px;
  }
  .venue-text {
    font-size: 12px;
  }
  .innings-text {
    font-size: 13px;
  }
  .man-of-the-match-text {
    font-size: 15px;
  }
}
